.wallet-wrapper a {
  display: inline-block;
  max-width: 160px;
  width: 100%;
  max-height: 60px;
  height: 100%;
  margin-right: 10px;
}

.wallet-wrapper a img {
  width: 100%;
  height: 100%;
}

.wallet-links {
  display: table;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}

.apple-link-desktop {
  display: table-cell;
  vertical-align: middle;
}

.android-link {
  display: table-cell;
  vertical-align: top;
  padding: 4px 0 0 20px;
  cursor: pointer;
}

.apple-link-qrcode {
  display: none;
  width: 99px;
  height: 99px;
  background: #fff;
  padding: 10px;
}

.apple-link-qrcode img {
  width: 100%;
  height: auto;
}

.apple-link-img img {
  height: 37px;
  width: 119px;
  cursor: pointer;
}
