.color-pallete-parent {
  float: left;
  width: 100%;
}

.color-pallete {
  float: left;
  width: 60%;
}

.coupon-img {
  float: left;
  width: 40%;
}

.coupon-img img {
  width: 100%;
}

.coupon-img img {
  width: 40%;
  position: fixed;
  top: 25%;
}

.messages.error {
  width: 55%;
}
