{% if data.apple_link or data.android_jwt %}
    <div class="wallet-wrapper">
        <div class="wallet-links">
            {% if data.is_mobile and data.is_ios and data.is_tablet == false %}
            <div class="apple-link-mobile">
                {% if data.apple_link %}
                    <a href="{{ data.apple_link }}"><img src="{{ data.apple_icon }}" /></a>
                {% endif %}
            </div>
            {% else %}
                {% if data.apple_link %}
                    <div class="apple-link-desktop">
                        <div class="apple-link-img">
                            <img src="{{ data.apple_icon }}" />
                        </div>
                        <div class="apple-link-qrcode">
                            {% if data.qrcode_img_path %}
                            <img src="{{ data.qrcode_img_path }}" />
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            {% if data.android_jwt and data.is_ios == false %}
            <div class="android-link">
                <g:savetoandroidpay jwt="{{ data.android_jwt }}" onsuccess="successHandler"></g:savetoandroidpay>
            </div>
            <script>
                function successHandler() {
                    jQuery.post( "{{ data.android_analytic_link }}", function( data ) {});

                    s.tl(this, "o", "Google Pay Clicked");
                }
            </script>
            {% endif %}
        </div>
    </div>
{% endif %}
